.nav ul{
    list-style: none;
    /* display: flex; */
    
}

.nav li{
    text-decoration: none;
    padding:10px 10px;
    
}
.nav a{
    text-decoration: none;
    
    font-size: 20px;
    color: black;
}
.nav a:hover{
    background-color: lightslategray;
}
.nav {
    width: 25%;
    height: 100%;
    float: left;
    box-shadow:5px 0px 4px -2px  blueviolet;
    margin-right: 20px;

}
.pact h1{
    text-align: center;
    padding: 20px 5px 5px;
    font-size: 40px;
    

}
.pact p{
    font-size: 20px;
    padding:0 10px  10px;
    width: 35%;
    float: left;
    
}
.pact{
    background-color: cornflowerblue;
    height: 260px;
}
table th, td{
    border: 1px solid rebeccapurple;
    padding: 5px 10px;
    
}
table {
    border-collapse: collapse;
    font-size: 30px;
    background-color: aquamarine;
}
