nav> ul{
    
    display: flex;
    padding: 10px 0px;
    background-color: rgba(240, 248, 255, 0.226);
    padding-left: 30%;
}

nav li{
    
    margin-right:10px;
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 10px;
}
nav li:hover{
    background-color: lightslategray;
}
nav li .dropdown{
    display: none;
    position: absolute;
    padding-left: 10px;
    background-color: lightyellow;

}
nav li:hover > .dropdown{
    display: block;
}

.pact h1{
    text-align: center;
    padding: 0 5px 5px;
    font-size: 40px;
    margin: 0;
    text-transform: capitalize;
    

}
.pact p{
    font-size: 20px;
    padding:0 10px  10px;
    width: 47%;
    float: left;
    
}
.pact{
    background-color: cornflowerblue;
    height: 260px;
}
main{
    margin-top: 20px;
}
table th, td{
    border: 1px solid rebeccapurple;
    padding: 5px 10px;
    
}
table {
    border-collapse: collapse;
    font-size: 30px;
    background-color: aquamarine;
}
