nav> ul{
    
    display: flex;
    padding: 10px 10px;
    
}

nav li{
    
    margin-right:10px;
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px;
}
nav li:hover{
    background-color: lightslategray;
}
nav li .dropdown{
    display: none;
    position: absolute;
    padding-left: 10px;
    background-color: lightyellow;

}
nav li:hover > .dropdown{
    display: block;
}

.pact h1{
    text-align: center;
    padding: 20px 5px 5px;
    font-size: 40px;
    

}
.pact p{
    font-size: 20px;
    padding:0 10px  10px;
    width: 35%;
    float: left;
    
}
.pact{
    background-color: cornflowerblue;
    height: 260px;
}
table th, td{
    border: 1px solid rebeccapurple;
    padding: 5px 10px;
    
}
table {
    border-collapse: collapse;
    font-size: 30px;
    background-color: aquamarine;
}
